<!doctype html>
{% load i18n %}
<html lang="{% get_current_language as LANGUAGE_CODE %}">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}ManikAlbum{% endblock %}</title>
    <link rel="icon" href="{% static 'albums/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'albums/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'albums/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'albums/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'albums/images/favicon-16x16.png' %}">
  </head>
  <body>

      {% if user.is_authenticated %}
        <p>Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
        <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
      {% endif %}

  </body>
</html>