{% extends "albums/base.html" %}

{% block title %}
ManikAlbum - Edit Album
{% endblock %}

{% block headertext %}
<div class="editing"><h2>Edit album <b>{{album.name}}</b></h2></div>
{% endblock %}

{% block content %}

        {{ form.non_field_errors }}
        {{ form.errors }}

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Save">
    </form>
    </div>
<div class="uploader">
    {% include "albums/photouploader.html" with album=form.instance crsf_token=crsf_token only %}
</div>
{% endblock %}
