{% extends "albums/base.html" %}
{% load i18n %}

{% block title %}
ManikAlbum - Album {{album.name}}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="thumbnails">
        {% for photo in album.photos.all %}
        <p>
            <a href="{% url 'photoview' photo.id %}">
            {% if photo.thumbnail %}
                <img class="thumbnail" src="{{photo.thumbnail.url}}" width="20%" alt="{{photo.metadata.name}}"/>
            {% else %}
                <img class="thumbnail" src="{{photo.filename.url}}" width="20%" alt="{{photo.metadata.name}}"/>
            {% endif %}
            <div class="thumbnail_name">{{photo.metadata.name}}</div>
            </a>
        </p>
        {% endfor %}
    </div>
    <div class="edit-btn">
        <a href="{% url 'albumedit' album.pk %}">Edit...</a>
    </div>
    <div class="edit-btn">
        <a href="{% url 'photoupload' album.pk %}">Upload Photos...</a>
    </div>
{% else %}
    <p class="error">Not authenticated !</p>
{% endif %}

{% endblock %}