{% extends "albums/mapdisplay.html" %}
{% load i18n %}

{% block title %}
ManikAlbum - Location {{location.name}}
{% endblock %}

{% block headertext %}
    <h1>Location: {{location.name}}</h1>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="location">
        <div class="location_name"><label>Name:</label>{{location.name}}</div>
        {% if location.description %}
        <div class="location_description"><label>Description:</label> {{location.description}}</div>
        {% endif %}
        {% if location.parentLocation %}
        <div class="location_parentlocation"><label>Parent location</label> <a href="{%url 'locationview' location.parentLocation.pk %}">{{location.parentLocation.name}}</a></div>
        {% endif %}
        <div style="height:300px;" id="mapid"></div>
        {% if location.coords %}
        <div class="location_coords"><label>GPS:</label> {{location.coords}}</div>
        <!-- Add Leaflet.js block, zoomable, and get settings from app to choose available layers  -->
        {% endif %}
        {% if location.osmObject %}
        <div class="location_osmObject"><a href="{{location.osmObject}}">OpenStreetMap</a></div>
        {% endif %}
    </div>
    <div class="edit-btn">
        <a href="{% url 'locationedit' location.pk %}">Edit location...</a>
    </div>
{% else %}
    <p class="error">Not authenticated !</p>
{% endif %}
{% endblock %}

{% block js %}
{% with coords=location.coords name=location.name %}
        {{ block.super }}
{% endwith %}
{% endblock %}
