{% extends "albums/base.html" %}


{% block css %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{% endblock %}


{% block js %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script>
/* This uses variables such as coords, name and onMapClick provided by the caller */
{% if coords %}

var coordsN = "{{coords}}".split(',').map(Number);

var mymap = L.map('mapid').setView(coordsN, 13); /* Must have mapid div somewhere to fit the map */

L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
	maxZoom: 20,
	attribution: '&copy; Openstreetmap France | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(mymap);

var marker = L.marker(coordsN).addTo(mymap);

{% if name %}
marker.bindPopup("<b>{{name}}</b>").openPopup();
{% endif %}


var newLocation;
function showMarker(e) {
    if(typeof newLocation === "undefined"){
         newLocation = L.marker(e.latlng).addTo(mymap);
    }else{
        newLocation.setLatLng(e.latlng)
    }
}

if (typeof onMapClick === "function") {
    mymap.on('click', onMapClick);
    mymap.on('click', showMarker);
}


{% endif %}
</script>
{% endblock %}
