{% extends "albums/base.html" %}
{% load i18n %}

{% block title %}
ManikAlbum - My Albums
{% endblock %}

{% block headertext %}
    <h1>My Albums</h1>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if album_list %}
        <ul>
        {% for album in album_list %}
            <li><a href="{% url 'albumview' album.id %}">{{ album.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% translate "No Album available in your account." %}</p>
    {% endif %}
    <div class="edit-btn"><a href="{% url 'albumcreate' %}">Create new album...</a></div>
{% else %}
<p>{% blocktrans %}"You are not logged in. Please <a href="/connect">connect</a> or create an account !" {% endblocktrans %} {{ user.get_username }}. </p>

{% endif %}

{% endblock %}
