{% extends "albums/base.html" %}
{% load i18n %}

{% block title %}
ManikAlbum - Person {{person.shortName}}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="person">
        <div class="person_shortname">{{person.shortName}}</div>
        {% if person.fullName %}
        <div class="person_fullname"><label>Full name:</label> {{person.fullName}}</div>
        {% endif %}
        {% if person.birthDate %}
        <div class="person_birthdate"><label>Birth:</label> {{person.birthDate}}</div>
        {% endif %}
        {% if person.deathDate %}
        <div class="person_fullname"><label>Death:</label> {{person.deathDate}}</div>
        {% endif %}
        {% if person.fullName %}
        <div class="person_user"><label>User:</label> {{person.user}}</div>
        {% endif %}
    </div>
    <div class="edit-btn">
        <a href="{% url 'personedit' person.pk %}">Edit...</a>
    </div>
{% else %}
    <p class="error">Not authenticated !</p>
{% endif %}
{% endblock %}
